@model EI20_21_ESII_PI_GGLP.Models.PontoDeInteresse

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-color: aliceblue;
    }
</style>


<br />
<br />
<br />
<br />
<br />
<br />
<br />

<h2 class="text-center mt-0">Eliminar Ponto de Interesse</h2>
<h2 class="text-center mt-0" style="color:gray">@Model.PNome ?</h2>


<br />


<section class="container" style="width:600px">
        @*<h4>PontoDeInteresse</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PNome)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PNome)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Categoria)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Categoria.CategoriaID)
                </dd>
            </dl>*@

        <form asp-action="Eliminar" style="text-align:center">
            <input type="hidden" asp-for="PontoDeInteresseID" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <br />
            <br />
            <a asp-action="Index">Voltar à Lista</a>
        </form>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</section>
