@model EI20_21_ESII_PI_GGLP.Models.Pontos

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Pontos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PPicture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PPicture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PCategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PCategoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PDescricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PDescricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PEndereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PEndereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PCoordenadas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PCoordenadas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PHorarioSemana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PHorarioSemana)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PHorarioFimSemana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PHorarioFimSemana)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PHorarioFeriado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PHorarioFeriado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PContacto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PContacto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PPersonsNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PPersonsNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PTotalPersonsNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PTotalPersonsNum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PontoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
